<% content_for :title, "Form" %>
<style>
  form.validate .ng-invalid-required.ng-dirty { background-color: lightpink; }
  form.validate .ng-invalid-email.ng-dirty {
    background-color: lightgoldenrodyellow; }
  div.error{color: red; font-weight: bold}
</style>
<div class="row" ng-app="directiveExApp" ng-controller="defaultController">
  <div class="register-user">
    <form novalidate name="myForm" ng-submit="addUser(newUser, myForm)" ng-class="showValidation ? 'validate' : ''">
      <div class="well">
        <div class="form-group">
          <label>Name:</label>
          <input name="userName" type="text" class="form-control" required
            ng-model="newUser.name">
        </div>

        <div class="form-group">
          <label>Email:</label>
          <input name="userEmail" type="email" class="form-control" required
            ng-model="newUser.email">
          <div class="error" ng-show="showValidation">
            {{getError(myForm.userEmail.$error)}}
          </div>
        </div>

        <div class="form-group">
          <label for="">Text:</label>
          <input type="text" name="sample" class="form-control" ng-model="inputValue" ng-required="requireValue" ng-minlength="3" ng-maxlength="10" ng-pattern="matchPattern">
        </div>

        <div class="checkbox">
          <label for="">
            <input name="isShowed" type="checkbox" ng-model="isShowed" ng-true-value="'Hoangtran'" ng-false-value="'Fail!'"> This is a checkbox
          </label>
          <p>Model Value: {{isShowed}}</p>
        </div>

        <div class="form-group">
          <label for="">Select an action: </label>
          <select ng-model="selectedValue" ng-options="item.id as item.action group by getCategoryNameBy(item) for item in todos">
            <option value="">(Pick One)</option>
          </select>
          <p>Selected: {{selectedValue || 'None'}}</p>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" name="agreed" ng-model="newUser.agreed"
              required> I agree to the terms and conditions
          </label>
        </div>

        <button type="submit" class="btn btn-primary btn-block" ng-disabled="myForm.$invalid">OK</button>
      </div>
      <div class="well">
        message: {{message}}
        <div>
          Valid:
          <span class="summary" ng-class="myForm.$valid ? 'ng-valid' : 'ng-invalid'">{{myForm.$valid}}</span>
          <p>{{myForm.$error}}</p>
        </div>
        <p>Required Error: {{myForm.sample.$error.required}}</p>
        <p>Min Length Error: {{myForm.sample.$error.minlength}}</p>
        <p>Max Length Error: {{myForm.sample.$error.maxlength}}</p>
        <p>Pattern Error: {{!!myForm.sample.$error.pattern}}</p>
        <p>Element Valid: {{myForm.sample.$valid}}</p>
      </div>
    </form>
  </div>
  <div id="todo-panel" class="panel">
    <h3 class="panel-header">
      To Do List
      <span class="label label-info">
        {{(todos | filter:{complete: false}).length}}
      </span>
    </h3>
    <div class="row">
      <div class="col-xs-6">
        <div class="well">
          <div class="form-group row">
            <label for="actionText">Action:</label>
            <input type="text" id="actionText" class="form-control"
              ng-model="newTodo.action">
          </div>
          <div class="form-group row">
            <label for="actionLocation">Location:</label>
            <select id="actionLocation" class="form-control" ng-model="newTodo.location">
              <option>Home</option>
              <option>Office</option>
              <option>Mall</option>
            </select>
          </div>
          <button class="btn btn-primary btn-block" ng-click="addNewItem(newTodo)">Add</button>
        </div>
      </div>
      <div class="col-xs-6">
        <table class="table">
          <thead>
            <tr>
              <th>#</th><th>Action</th><th>Done</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in todos">
              <td ng-bind="$index + 1"></td>
              <td ng-bind="item.action"></td>
              <td><input type="checkbox" ng-model="item.complete"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
