<% content_for :title, "SportStore" %>
<div class="navbar navbar-inverse">
  <a href="" class="navbar-brand">SPORT STORE</a>
</div>
<div class="panel panel-default row" ng-app="sportsStore">
  <div class="col-md-3">
    Categories
  </div>
  <div class="col-md-8">
    products
  </div>
</div>
