<% content_for :title, "SportStore" %>
<div class="navbar navbar-inverse">
  <a href="" class="navbar-brand">SPORT STORE</a>
</div>

<div class="panel panel-default row" ng-app="sportsStore" ng-controller="sportsStoreCtrl">
  <div class="alert alert-danger" ng-show="data.error">
    Error ({{data.error.status}}). The product data was not loaded.
    <%= link_to "Click here to try again", products_path %>
  </div>
  <ng-include src="'productList.html'"></ng-include>
</div>
